

.Headwrap{
    display:flex;
    justify-content:center;
}

.Headcont{
    padding:20px;
    margin:10px;
    color:rgb(252, 245, 245);
    background-color:dimgray;
    border-radius: 10px;
    width:800px;
    height:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: "Bitcount Grid Double", system-ui;
    letter-spacing:1px;
}

.bg-image{
    background-image:url('images/background.webp');
    background-size:cover;
    z-index:-10;
    height:100vh;
    width:100vw;
    background-position:fixed;
    position:fixed;
    background-position:center;
    margin:0;
    padding:0;
    top:0;
    left:0;
}

.Headcont h1{
    font-size:50px;
    font-weight:400;
}

.bodycont{
    padding:20px;
    margin:5px;
    color:white;
    background-color:dimgrey;
    border-radius:15px;
    width:1200px;
    display:flex;
    justify-content:center;
    flex-direction:column;
    font-family: "Montserrat", sans-serif;
}

.bodycont img{
    padding:20px;
    margin-top:30px;
    border-radius:20px;
    display:flex;
    flex-direction:column;
}

.bodycont p{
    font-size:18px;
}

.bodywrap{
    display:flex;
    justify-content:center;
    margin:5px;
}

h1{
    text-align: center;
    
}

.montserrat-bodycont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}